// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$background-page = #f3f4f6
$primary   = #140727
$secondary = #9ca3af
$accent    = #B1B1B1

$text      = #FFFFFF

$dark      = #010035

$positive  = #1e40af
$negative  = #dc2626
$info      = yellow
$warning   = #FFF8C5
// CUSTOM
// content groups
$chip-bg        = #D1FAE5
$chip-font      = #065F46
// List docs
$chip-highlight = #6b7280
$chip-arrow     = #52525b
// Table header
$table-header-color       = #fafafa
$table-header-font        = #7C7C7C
// Table pagination
$table-pagination         = #7C7C7C
// Table content
// $table-content-color-odd  = #FFFF
$table-content-color-odd  = white
$table-content-color-even = #fafafa
$table-content-font-odd   = #7C7C7C
$table-content-font-even  = #7C7C7C

$delete-button            = #DC2626
// title content group
$title-content-group      = rgb(107, 114, 128)
// Set the default font-family
$typography-font-family = "Inter var", "sans-serif"

:root
  --q-color-primary: $primary
  --q-color-secondary: $secondary
  --q-color-accent: $accent
  --q-color-positive: $positive
  --q-color-negative: $negative
  --q-color-info: $info
  --q-color-warning: $warning

// Column Table Responsive [✅]
.column-responsive
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 300px
// General classes ✅
.btn-primary
  background: $--q-color-primary
  color: white
.bg-brand-primary
  background: $--q-color-primary
.text-brand-primary
  color: $--q-color-primary
// Document info component
.docInfoInside
  font-size: 13px
.headerField
  color: #6B7280
.headerTitle
  color: #616161
  font-weight: 500
.documentHeader
  font-size: 16px
  color: #6B7280
//  Erase  Modal
.modalTitle
  color:black
  font-weight: bolder
  background: #F6F8FA
.modalWarning
  color: black
  background: #FFF8C5
.bg-layout
  background-color: $background-page
.q-table__bottom-item
  color: #686E7C
// LOGIN
.bg-background
  background: $background-page
