// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #4338CA
$secondary : #ADA8B6
$accent    : #B1B1B1

$dark      : #010035

$positive  : #55c3b3
$negative  : #ff422a
$info      : #dfdfed
$warning   : #F2C037

// Set the default font-family
$typography-font-family = "metropolis", "sans-serif"

// Column Table Responsive
.column-responsive
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 300px
.column-order-book
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 225px
.btn-primary
  background: #4338CA
  color: white
.btn-secondary
  background: #1F2937
  color: white
.btn-accent
  background: #F9FAFC
  color: black
.bg-brand-primary
  background: #4338CA
.bg-brand-secondary
  background: #1F2937
.bg-brand-accent
  background: #F9FAFC
.text-brand-primary
  color: #08183C
.text-brand-secondary
  color: #32E4B6
.text-brand-3
  color: #FFFFFF00
.bg-title-table
  background: #FAFAFA
.docInfoTitle
  font-size: 16px
.docInfoInside
  font-size: 13px